$content-color: white;

.ant-header {
    color: $content-color;
}

#components-layout-demo-top .logo {
    width: 120px;
    height: 31px;
    background: rgba(244, 244, 244, 0.3);
    float: left;
}