// center this card using flex
.header-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px
}
.header-nav > a {
  padding: 20px;
  text-decoration: none;
  //color: rgba(255, 255, 255, 0.65);
}