@import '~bootstrap/scss/bootstrap';

$body-color: #e9ecef;

.main {
    background-color: $body-color;
    position: relative;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}
.coming-soon {
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}