
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@use 'vars';
* {
  box-sizing: border-box;
  $merriweather: 'Merriweather';
  font-family: $merriweather;
}
body {
  background-color: #f5f5f5;
  color:rgba(0, 0, 0, 0.87);
  background-color: #e9ecef;
}
.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}