.main {
    position: relative;
    background: white;
}

.header {
    left: 0px;
    top: 0px;
}
.header h1 {
    text-align: center;
}

.body {
    left: 0px;
}
.footer {
   left: 0px;
   top: 896px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }

    to {
        margin-left: 0%;
    }
}
.coming-soon {
    overflow: hidden;
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}