* {
    margin: 0;
    box-sizing: border-box;
}

.main {
    padding-top: 13em;
    margin: 0 auto;
    width: 50%;
    font-family: Cambria, Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.eyes {
    margin-top: 1em;
}