* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navigation {
    width: 200px;
}
.navigation ul {
    list-style: none;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
}
.navigation ul li {
    text-emphasis: none;
    margin: 0 auto;
}
.navigation ul li a {
    text-decoration: none;
    color: darkblue
}
.box {
    display: grid;
    grid-template: repeat(2, 1fr)/ repeat(3, 1fr);
    border-color: indigo;
    border-width: 4px;
    border-style: solid;
    gap: 10px;
}
.row {
    border: 2px solid indianred;
}
.one {
    grid-row-start: 1;
    grid-row-end:2;
}